<% @page_class = 'not-found' %>
<% content_for :title, t('.title') %>

<div class="lead">

  <%= icon :fas, 'map-signs', nil, class: 'fa-4x pull-right' %>

  <h1><%= t('.header') %></h1>
  <p>
    <%= t('.message') %>
  </p>

</div>
