//== Accessiblity Notes
// -------------------------
// WCAG 2.0 requirements for visual contrast
// See (https://www.w3.org/TR/2008/REC-WCAG20-20081211/#visual-audio-contrast7)
// See (https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html)
//
// Level AAA
// * text has a contrast ratio of at least 7:1
// * large-scale text has a contrast ratio of at least 4.5:1
//
// Level AA
// * large-scale text has a contrast ratio of at least 3:1

$tiu-brand: rgb(126, 19, 0);
$primary: $tiu-brand;
$brand-primary: $tiu-brand;

$white: rgb(255, 255, 255); // White
$navbar-default-link-color: #727272; // darkened from #777 for WCAG AA
$gray-light:                #727272; // darkened from #777 for WCAG AA
