<% if target.errors.any? %>

  <div class="error_explanation alert alert-danger">
    <p class="lead">
      <%= pluralize(target.errors.count, "error") %> prohibited this <%= target.class.name.titleize.downcase %> from being saved:
    </p>
    <ul>
      <% target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>

<% end %>
