<% if target.errors.any? %>

  <% inline = local_assigns.has_key? :inline %>

  <div class="error_explanation alert alert-error alert-block <%= 'inline' if inline %>">
    <% unless inline %>
    <strong><%= pluralize(target.errors.count, "error") %> prohibited this <%= target.class.name.titleize.downcase %> from being saved:</strong>
    <% end %>

    <ul>
    <% target.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>

<% end %>
