<!--[if lt IE 9]>
<div class="alert alert-warning alert-block">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>You are using an outdated browser</strong><br>
  Users with legacy browsers may find that some features do not function.
  We recommend upgrading to a recent browser such as <%= link_to "Google Chrome", "http://www.google.com/chrome" %>,
  <%= link_to "Mozilla Firefox", "http://www.firefox.com" %>, or perhaps the very newest version of Microsoft Internet Explorer.
  This will give you a faster, safer browsing experience on the web.
</div>
<![endif]-->
