.environment-info {
  background-color: $tiu-brand;
  color: $white;

  .container {
    padding-bottom: 0;
  }

  .name {
    font-weight: bold;
  }

  .revision,
  .released-at {
    font-size: 75%;
    padding-left: 15px;
  }
}
