# .env should NOT be checked in to source control
<%
# .env.sample is an ERB template to generate a new .env during deploys. Keep it updated with new parameters (but the values must be added manually or templated to keep your secrets out of git)
-%>

SECRET_KEY_BASE=<%= `rake secret`.strip %> # generated with `rake secret`
GOOGLE_ANALYTICS=UA-00000000-0 # replace with your Google Analytics id for this property
DATABASE_PASSWORD=<%= SecureRandom.urlsafe_base64(24) %> # generated with `SecureRandom.urlsafe_base64(24)`
