# .env should NOT be checked in to source control
<%
  # Caution: Keep your secrets out of git!
  # .env.sample is an ERB template to generate a new .env during deploys.
  # Keep it updated with new parameters (but not your secret values) so your .env can be generated when deploying to new environments.


  # Skip this section for development, not for Capistrano (Rails isn't loaded in Capistrano tasks).
  if defined?(Rails).nil? || Rails.env != 'development'
%>
SECRET_KEY_BASE='<%= `rake secret`.strip %>' # generated with `rake secret`
GOOGLE_ANALYTICS='UA-00000000-0' # replace with your Google Analytics id for this property

DATABASE_PASSWORD='<%= SecureRandom.urlsafe_base64(24) %>' # generated with `SecureRandom.urlsafe_base64(24)`
#DATABASE_HOST='localhost'
<% end %>

SMTP_USER='secret@example.com' # ex. 'user@gmail.com'
SMTP_PASSWORD='secret' # quote to avoid variable dotenv substitution on '$'
SMTP_DOMAIN='example.com'
<% if Gem::Specification.find_all_by_name('slack-notifier').present? -%>

SLACK_WEBHOOK='https://hooks.slack.com/services/secret'
<% end -%>
<% if Gem::Specification.find_all_by_name('recaptcha').present? -%>

# Manage via https://www.google.com/recaptcha/admin
# https://github.com/ambethia/recaptcha
RECAPTCHA_SITE_KEY='sitekey'
RECAPTCHA_SECRET_KEY='secretkey'
<% end -%>