# .env should NOT be checked in to source control
<%
  # Caution: Keep your secrets out of git!
  # .env.sample is an ERB template to generate a new .env during deploys.
  # Keep it updated with new parameters (but not your secret values) so your .env can be generated when deploying to new environments.


  # Skip this section for development, not for Capistrano (Rails isn't loaded in Capistrano tasks).
  if defined?(Rails).nil? || Rails.env != 'development'
%>
SECRET_KEY_BASE=<%= `rake secret`.strip %> # generated with `rake secret`
GOOGLE_ANALYTICS=UA-00000000-0 # replace with your Google Analytics id for this property

DATABASE_PASSWORD=<%= SecureRandom.urlsafe_base64(24) %> # generated with `SecureRandom.urlsafe_base64(24)`
#DATABASE_HOST=localhost
<% end %>

SLACK_WEBHOOK=https://hooks.slack.com/services/secret

SMTP_USER=secret@example.com # ex. 'user@gmail.com'
SMTP_PASSWORD=secret
