//
// Sticky Footer
//

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 60px;
}

footer {
  background-color: #f5f5f5;
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 100%;

  p { margin: 0; }

  #footer-logo {
    margin-top: 8px; // TODO: not great at phone sizes
    max-width: 100%;
  }

  .text-muted {
    margin-top: 20px; // TODO: not great at phone sizes
  }
}

//
// Forms
//

form label.required,
form .required {
  &::after {
    color: red;
    content: ' *';
    font-weight: normal;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
  }
}

form label.control-label {
  font-weight: bold;
}

//
// Expandable Lists
//

.list-expandable {
  // hide toggle
  .list-item-toggle {
    cursor: pointer;
    display: none;
  }

  // for long lists, hide extra elements and show the toggle
  li:nth-child(n+6) {
    display: none;

    &.list-item-toggle {
      display: block;
    }
  }

  tr:nth-child(n+6) {
    display: none;

    &.list-item-toggle {
      display: table-row;
    }
  }
}

.list-expandable.in {
  // expand to full list
  li:nth-child(n+6) {
    display: block;

    &.list-item-toggle {
      display: none;
    }
  }

  tr:nth-child(n+6) {
    display: table-row;

    &.list-item-toggle {
      display: none;
    }
  }
}
